* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #333;
  color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-size: 36px;
}

.program-toggle button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
  color: white;
}

#semester-container button {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
}

#details-section {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dropdown {
  margin-bottom: 20px;
}

.dropdown h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  margin-bottom: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: #45a049;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
}
