/* Base Styles */
:root {
  --primary-color: #00bcd4;
  --secondary-color: #ff5722;
  --accent-color: #4caf50;
  --background-light: #f8f9fa;
  --background-dark: #263238;
  --text-light: #ffffff;
  --text-dark: #212121;
  --button-hover-color: #008c9e;
  --shadow: rgba(0, 0, 0, 0.2);
  --link-color: #2196f3;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-light);
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-light);
  box-shadow: 0 4px 6px var(--shadow);
  transition: background-color 0.3s ease;
}

/* Program toggle buttons */
.program-toggle button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  padding: 12px 20px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.program-toggle button:hover {
  background-color: var(--button-hover-color);
}

.program-toggle button.active {
  background-color: var(--accent-color);
}

/* Dropdown styles */
.details .dropdown {
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--text-light);
  border-radius: 12px;
  box-shadow: 0 4px 6px var(--shadow);
  margin-top: 20px;
}

.details .dropdown button {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.details .dropdown button:hover {
  background-color: var(--accent-color);
}

footer {
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-light);
  text-align: center;
  margin-top: 50px;
}

/* Dark theme override */
body.dark-mode header {
  background-color: var(--accent-color);
}

body.dark-mode .details .dropdown {
  background-color: var(--primary-color);
}

body.dark-mode footer {
  background-color: var(--accent-color);
}
